/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.movie-card {
    background: white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    width:250px;
    height: 350px;
    object-fit:cover;
    border-radius:  10px 10px 0 0;
}

.movie-title {
    font-size: 20px;
    margin: 10px 0;
}

.movie-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.book-btn {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.book-btn:hover {
    background-color: gold;
}

.booking-message {
    background: red;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
}